@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif !important;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

.bg-primary {
  background-color: #f8c701 !important;
}

.text-primary {
  color: #f8c701 !important;
}

.border-primary {
  border-color: #f8c701 !important;
}